@font-face {
  font-family: Tenderleaf;
  src: url(tenderleaf.ttf);
}

@font-face {
  font-family: Enriqueta;
  src: url(enriqueta.ttf);
}

html, body {
  background-color: #040707;
  color: white;
  font-family: Enriqueta, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 2rem;
  margin-bottom: 0;
}

h1#show-title {
  font-family: Tenderleaf, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1#show-title img {
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  margin: .5rem 0;
  padding: 0;
  text-transform: lowercase;
}

nav ul li {
  display: inline-block;
}

nav ul li::after {
  content: '/';
  margin: 0 1rem;
}

nav ul li:last-child::after {
  display: none;
}

a, a:visited {
  color: #f6a73b;
}

a:active, a:hover {
  color: #58bc6f;
}

ul#social-media {
  list-style-type: none;
}

ul#social-media li {
  display: inline-block;
}

ul#social-media li a img {
  display: inline=block;
  margin: 0 0.5rem;
  width: 1.5rem;
}

ul#social-media li a img.hover {
  display: none;
}

ul#social-media li a:active img, ul#social-media li a:hover img {
  display: none;
}

ul#social-media li a:active img.hover, ul#social-media li a:hover img.hover {
  display: inline-block;
}

img#tree {
  max-width: 100%;
}

div#content {
  margin: auto;
  max-width: 800px;
}

p {
  margin: 0 0 1rem 0;
  padding: 0;
}

ul.show-actions {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.show-actions li {
  display: inline-block;
}

ul.show-actions li a, div.show-actions li a:visited {
  color: #58bc6f;
}

ul.show-actions li a:active, div.show-actions li a:hover {
  color: #f6a73b;
}

ul.show-actions li::after {
  content: "/";
  margin: 0 1rem;
}

ul.show-actions li:last-child::after {
  display: none;
}

ul.show-actions span.sold-out {
  color: red;
  font-style: italic;
}

div.horizontal-rule {
  border-bottom: 1px solid #721f12;
  margin: 1rem auto;
  width: 40%;
}

p#summary {
  font-size: 1.5rem;
  font-style: italic;
}

h2 {
  color: #f6a73b;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0 0 1rem 0;
  padding: 0;
  text-transform: lowercase;
}

div.acts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span.act-summary {
  padding: .25rem;
}

div#company {
  margin: auto;
  max-width: 700px;
}

div#company h3 {
  color: #f6a73b;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: lowercase;
}

div#company ul, div#company p {
  list-style-type: none;
  margin: 0 0 1rem 1rem;
  padding: 0;
  text-align: left;
}

div#company ul li {
  display: inline-block;
}

div#company ul li::after {
  content: '/';
  margin: 0 .5rem;
}

div#company ul li:last-child::after {
  display: none;
}

div#shows-list div.show {
  margin-bottom: 1rem;
}

div#shows h3 {
  color: #f6a73b;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

p#dress-code {
  font-weight: bold;
}

div#photo-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div#photo-grid button.thumb {
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  height: 120px;
  margin: 0 1rem 1rem 1rem;
  overflow: hidden;
  position: relative;
  width: 120px;
}

div#photo-grid button.thumb img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

div#frame {
  margin: 1rem auto 0 auto;
  position: relative;
  max-width: 700px;
}

div#frame img {
  border-radius: 2rem;
  max-width: 100%;
}

div#frame span#photo-credit {
  background-image: radial-gradient(farthest-side at bottom right, #040707, rgba(0,0,0,0));
  display: block;
  right: 0;
  padding: .5rem 1rem .5rem 6rem;
  position: absolute;
  text-align: right;
  bottom: 0;
}

div#press ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#press ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#press ul li::after {
  content: '/';
  margin: 0 .5rem;
}

div#press ul li:last-child::after {
  display: none;
}

footer {
  font-size: .75rem;
}

footer a, footer a:visited {
  color: #f6a73b;
}

footer a:active, footer a:hover {
  color: #58bc6f;
}
